.table__container {
	padding: 10px 40px;
}

.table {
	width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	text-align: left;
	overflow: hidden;
}

.table input[type="checkbox"] {
	width: 17px;
	height: 17px;
	margin-top: 4px;
}

thead {
	border-bottom: 2px solid #e5e5e5;
}

th:first-of-type,
td:first-of-type {
	padding: 1rem 0.5rem;
	display: inline-flex;
}

th:not(:first-of-type) {
	padding: 1rem 2rem;
}

th:nth-child(2) {
	padding: 1rem 0.5rem;
}

.th__inner {
	display: flex;
	align-items: center;
}

.th__inner span:first-of-type {
	font-size: 0.9rem;
	font-weight: 600;
}

th .icon {
	font-size: 0.9rem;
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	gap: -10px;
	color: rgb(97, 97, 97);
}

th .icon ion-icon:first-of-type {
	margin-bottom: -6px;
}

td:not(:first-of-type) {
	padding: 1rem 2rem;
}

tbody tr:nth-child(even) {
	background-color: rgb(243, 243, 243);
}

tr .requestID {
	font-weight: 500;
	color: rgb(0, 140, 187);
}
